body {
    font-family: 'Inter', sans-serif;
    background-color: #F3F9FF;
}

.header {
    text-align: center;
    padding-top: 0.2rem;
}

.header h1 {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 0%;
}

.header p {
    color: #b9b9b9;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: italic;
    margin-top: 0px;
}