.header {
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.links {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.header h1 {
    font-weight: 800;
}

#specification {
    font-size: x-large;
    font-style: italic;
    margin-bottom: 1rem;
}
